services:
  - type: web
    name: ai-career-guidance
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --chdir web app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: SECRET_KEY
        generateValue: true
